*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    border: 2px solid green;
}
.card{
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 100px auto;
}
.image{
    width: 30%;
    padding: 10px;
    border: 2px solid red;
    
}
.details{
    
    width: 70%;
    padding: 20px;
    border: 2px solid red;
    font-size: 20px; 
}