.navPosition{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.flexItem{
    line-height: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    padding-top: 15px;
}
.card:hover{
    z-index: 9999;
    transform: scale(1.07);
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card{
    transform: all 0.5s;
}
.mini_player{
    display: none;
    width:100%;
    transform: all 0.5s;
}
.card:hover .mini_player{
    display: initial;
    transform: all 0.5s;
}
.card:hover .card-img-top{
    display: none;
    transform: all 0.5s;
}